<html>
  <head>
    <title>Portfolio App</title>
  </head>
  <body>
    <p>This is a test page!</p>

    <form action="/" method="post">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
      </div>
      <div class="row">
      <div class="col">
        <label for="First name" class="form-label">First name</label>
        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First name" aria-label="First name">
      </div>
      <div class="col">
        <label for="Last name" class="form-label">Last name</label>
        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last name" aria-label="Last name">
      </div>
    </div>
     <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
    </form>
    <!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/8797284.js"></script>
<!-- End of HubSpot Embed Code -->
  </body>
</html>
